@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto&display=swap');
@import "../main.scss";

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif
  font-weight: 900;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

header {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  padding: 20px 0;
}

header .row,
footer .row {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  padding: 0 20px;
  margin: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

.jumbotron h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0 0 20px;
  color: #fff;
}

.index-background {
  background-image: url("../images/index-background.jpg")
}

.about-background {
  background-image: url("../images/family-bw.JPG")
}

.education-background {
  background-image: url("../images/education-background.jpg")
}

.experience-background {
  background-image: url("../images/experience-background.jpg")
}

.connect-background {
  background-image: url("../images/extra1.jpg")
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}

.col-md-6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  150px;
  height: 100px;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: flex-end;
}

footer ul {
  font-family: 'Roboto', sans-serif;
  list-style: none;
}
